ion-content {
  background: #6dd5fa;
}

h1{
  color:#5A3F37;
  font-family:fantasy;
  font-size:27px;
  text-align:center;
}

h2 {
  color:#2C7744;
  font-family:fantasy;
  font-size:97px;
  text-align:center;
}

p{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align:center;
  font-size:30px;
  color:#5A3F37;
}

h3 {
  color:#2C7744;font-family:fantasy;font-size:90px;
  text-align: center;
}

h4 {
color:#2C7744;
font-family:fantasy;
text-align: center;
font-size:30px;
}

h5{
font-size:90px;
text-align: center;
color:#2C7744;
}

h6{
max-width: 400px;
height: auto;
align-content: center;
display: block;
margin-left: auto;
margin-right: auto;

}